* {
  box-sizing: border-box !important;
}
body {
  margin: 0;
  background: #000;
}
#root {
  // background: #151515;
  // height: 100dvh !important;
  // margin: 0;
}
main {
  max-width: 1800px;
  margin: auto;
  // border: 2px SOLID RED;
}

.hero {
  margin-top: 20px;
}
